html {
    margin-top: 100px;
}

h1, h2 {
    text-align: center;
    margin-bottom: 40px;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #4682B4;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    width: 30%;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

a:link, a:visited {
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.button1 {
    display: inline-block;
    border-radius: 4px;
    background-color: #191970;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    transition: all 0.5s;
    cursor: pointer;
    width: 20%;
}
